$navy-blue: #000D26;
$blue-4: #001640;
$blue-3: #002B7F;
$blue-2: #0041BF;
$blue-1: #0056FF;

$dark-grey-2: #1F1F1F;
$dark-grey-1: #3D3D3D;
$light-grey: #B0B0B0;
$off-white: #E5E5E5;
$pure-white: #FFFFFF;
