.info-container {
  display: block;
  transition: .1s ease-in;
  width: 100%;
  text-align: center !important;
  .row {
    // margin: .2rem;
    a .settings {
      // width: 50%;
      border-radius: 50%;
    }
  }
  .columns {
    // margin: .7rem;
  }


  a {
    color: $navy-blue;
    text-decoration: none;
    text-align: center;
    align: center;
    width: 50%;
    height: 200px;
    line-height: 200px;
    text-align: center;
    font-size: 3.5rem;
    font-weight: bold;
    background: $pure-white;
    border-radius: 1rem;
    border: 2px solid $navy-blue;

    // &:hover {
    //   transition: .2s ease-in;
    //   transition: .2s ease-out;
    //   background: $blue-4;
    //   color: $off-white;
    //   font-size: 4rem;
    //   height: 260px;
    //   line-height: 260px;
    // }
  }
}

.authentication {
  float: right;
  transition: .1s ease-in;
  text-align: center !important;
  background: $navy-blue;
  a {
    text-decoration: none;
  }
}

.plaid-link {
  background: $navy-blue !important;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 4rem !important;
  width: 100%;
  height: 200px;

  span {
    color: $pure-white;
    font-size: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
  }

  &:hover {
    transition: .2s ease-in;
    background: $off-white !important;
    border-color: $navy-blue !important;
    padding: 5rem;

    span {
      color: $navy-blue;
    }
  }
}

.plaid-home {
  a {
    color: $dark-grey-1;
    text-decoration: none;
  }
}
