// Styles apply to NavBar.js in venue-menu/react/src/NavBar.js

// Main Header Image
#billboard {
  background-color: transparent;
  background-size: 100%;
  box-shadow: inset 0 0 70px rgba(0,0,0,0.4);
  a {
    text-decoration: none;
  }
}

#billboard h2 {
  color: #fff;
  padding: 0px;
  text-align: left;
  font-size: 4em;
  text-shadow: 2px 2px 10px #000;
  font-family: 'Open Sans';
  font-weight: bolder;
  font-size: 50px;
  background-color: $blue-4;
  margin: 0;
}

// ##nav-bar {
//   background: $navy-blue;
//   // height: 50px;
// }
.container {
  position: relative;
  margin: 0 auto;
}

#nav {
  text-align: center;
  font-size: 0;
}

#nav ul {
  left: 0;
  right: 0;
  padding: 0px;
	margin: 0px;
  text-align:center;
  list-style-type: none;
  list-style: none;
  font-size: 0;
}

#nav li {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-bottom: 0;
}

#nav a {
  color: $off-white;
  position: relative;
  width: 100%;
  height: 30px;
  padding: 6px 0;
  line-height: 30px;
  background-color: $navy-blue;
  text-align: center;
  outline: none;
  border-right: 1px solid $blue-4;
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  box-shadow: inset 0 0 70px rgba(0,0,0,0.4);
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
  -webkit-transition: all ease .3s;
          transition: all ease .3s;

  &:hover{
    background-color: $blue-3;
  }

  #nav li:nth-child(2n+1) p:after {
    position: relative;
    content: '';
    top: 19.5px;
    right: -2.5px;
    z-index: 10;
    border-radius: 100%;
    background: $blue-4;
    width: 5px;
    height: 5px;
  }
}


@media (min-width: 550px) {

  #nav li {
    text-align: center;
    width: 20%;
  }

  #nav li:nth-child(2n+1) p:after {
    position: absolute;
    content: '';
    top: 19.5px;
    right: -2.5px;
    z-index: 10;
    border-radius: 100%;
    background: $blue-4;
    width: 5px;
    height: 5px;
  }

  #nav a {
    box-shadow: 0 4px $blue-1;
    padding: 6px;
    border-right: 1px solid $blue-4;
    width: 100%;
  }

  #nav li:nth-child(2n+1) a:after {
    content: none;
  }

  #nav li:last-child a {
    border-right: none;
  }
}
